<div class="container">
  <h2>Caesar cipher</h2>
  <hr>
  <p>การเข้ารหัสซีซาร์ (Caesar cipher) </p>
  <p class="light">ในทางด้านวิทยาการเข้ารหัสลับ หรือเป็นที่รู้จักกันในชื่ออื่นว่า Shift cipher Caesar's code หรือ Caesar shift เป็นเทคนิคการเข้ารหัสที่ง่ายและแพร่หลายที่สุด โดยใช้หลักการแทนที่ตัวอักษร ซึ่งในแต่ละตัวอักษรที่อยู่ในข้อความจะถูกแทนที่ด้วยตัวอักษรที่อยู่ลำดับถัดไปตามจำนวนตัวอักษรที่แน่นอน อย่างเช่น แปลงตัวอักษรไป 3 ตัว อักษร "A" ก็จะถูกแทนที่ด้วยอักษร "D" การเข้ารหัสแบบดังกล่าวตั้งชื่อตามจูเลียส ซีซาร์ ซึ่งคิดค้นขึ้นเพื่อการติดต่อสื่อสารกับแม่ทัพนายกองของเขา</p>
  <br>
  <p>Example: </p>
  <table class="smol-table">
    <tr>
      <td *ngFor="let alphabet of alphabets.split(''); let i = index" [ngStyle]="getCellStyle(i)">{{i}}</td>
    </tr>
    <tr>
      <td *ngFor="let alphabet of alphabets.split(''); let i = index" [ngStyle]="getCellStyle(i)">{{alphabet}}</td>
    </tr>
    <tr>
      <td *ngFor="let alphabet of alphabets_shifted3.split(''); let i = index" [ngStyle]="getCellStyle((i+3)%26)">{{(i+3)%26}}</td>
    </tr>
    <tr>
      <td *ngFor="let alphabet of alphabets_shifted3.split(''); let i = index" [ngStyle]="getCellStyle((i+3)%26)">{{alphabet}}</td>
    </tr>
  </table>
</div>
<div class="container-split">
  <div class="container">
    <h3>Data</h3>
  <hr>
    <p>Original Message</p>
    <textarea placeholder="input" [(ngModel)]="input" (input)="encode()"></textarea>
    <hr>
    <p>Cipher Message</p>
    <textarea placeholder="output" [(ngModel)]="output" (input)="encode(true)"></textarea>
  </div>
  <div class="container">
    <h3>Settings</h3>
    <hr>
    <input style="width: 100%" type="range" max="25" min="0" placeholder="k" [(ngModel)]="key" (input)="sliderShift()">
    <input type="checkbox" [(ngModel)]="isDecode">
    <label>find original value?</label>
    <hr>
    <label>k: {{key}}</label>
    <hr>
    <p>from</p>
    <table class="med-table">
      <tr>
        <td *ngFor="let alphabet of alphabets.split(''); let i = index" [ngStyle]="getCellStyle(i)">{{i}}</td>
      </tr>
      <tr>
        <td *ngFor="let alphabet of alphabets.split(''); let i = index" [ngStyle]="getCellStyle(i)">{{alphabet}}</td>
      </tr>
    </table>
    <!-- <hr> -->
    <p>to</p>
    <table class="med-table">
      <tr>
        <td *ngFor="let alphabet of alphabets_shifted.split(''); let i = index" [ngStyle]="getCellStyle((i+key)%26)">{{(i+key)%26}}</td>
      </tr>
      <tr>
        <td *ngFor="let alphabet of alphabets_shifted.split(''); let i = index" [ngStyle]="getCellStyle((i+key)%26)">{{alphabet}}</td>
      </tr>
    </table>
  </div>
</div>
