<div class="container">
  <h2>ยินดีต้อนรับ</h2>
  <hr>
  <p>Presented by <span class="light">[</span>prabida group<span class="light">]</span></p>
</div>
<div class="container">
  <h3>เมนูการเข้ารหัส</h3>
  <hr>
  <button (click)="goto('rsa')">RSA</button>
  <!-- <button (click)="goto('ecc')">ECC</button> -->
  <button (click)="goto('col')">Columnar</button>
  <button (click)="goto('mono')">Monoalphabetic</button>
  <!-- <button (click)="goto('roll')">Roll Fence</button> -->
  <button (click)="goto('shift')">Ceasar Shift</button>
</div>
<div class="container">
  <h3>จัดทำโดย <span class="light" style="color: #5982b4">(กลุ่ม: prabida)</span></h3>
  <hr>
  <p><span style="color: #7a9eca">6252100170</span> นายนิติพล พัฒนะพันธ์</p>
  <p><span style="color:#7a9eca">6252100218</span> นางสาวพัทธนันท์ ภู่ทอง</p>
  <p><span style="color:#7a9eca">6252100269</span> นายเจตนรินทร์ สหราโช</p>
  <p><span style="color:#7a9eca">6252100315</span> นางสาวเบญชญา รักพงษ์ไทย</p>
  <p><span style="color:#7a9eca">6252100447</span> นายตุลาการ รัตนวราหะ</p>
  <hr>
  <p style="color:#7a9eca">*จัดทำขึ้นสำหรับใช้เป็นโครงงานวิชา IT59315 สถาบันการจัดการปัญญาภิวัฒน์ เท่านั้น ไม่มีจุดประสงค์ละเมิดลิขสิทธิ์ใดๆ</p>
</div>
